<div class='text-dark row mx-2 my-2 p-2'>
    <div class="col-3 bg-light rounded mx-3  px-0 ">

        <h4 class='bg-dark text-light py-2 mx-0 rounded text-center'>Video Links</h4>
        <div id='linkBox' class='text-dark text-left px-2'>

        <!-- {
            linkArr.map((elem)=>{return <button onClick={()=>setUrl(elem.link)} class="d-block btn btn-light my-2">{elem.}</button>})
        } -->
        </div>
    </div>
    <div class='col'>
        <!-- <iframe src={url}  frameborder="0" class='w-100 border rounded shadow'></iframe> -->
    </div>
    
</div>