<div class=" w-100">
    <table class="w-100">
      <thead>

      <th>From/To</th>
      <th>Date</th>
      <th>Credit</th>
      <th>Debit</th>
      </thead>
      <tbody>

      {transData.map((elem)=>tableRow(elem))}
      </tbody>
      
    </table>
  </div>